#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #fffd;

  input {
    background-color: #111;
    color: #fffd;
  }
}

body {
  background-color: #242424;
}
