#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #fffa;

  input {
    background-color: #161616;
    color: #fffa;
  }
}

body {
  background-color: #242424;
}
