#orders-table {
  th {
    padding: 0.2rem 0.5rem 0.8rem;
    font-style: italic;
    letter-spacing: 1px;
  }

  td {
    padding: 0.2rem 0.5rem;
  }

  .pendiente {
    color: orange;
  }

  .valido {
    color: green;
  }

  .no-valido {
    color: red;
  }
}

.validate-button {
  width: 120px;
}

#orders-search {
  width: 250px;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
}

#header-elements-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  li {
    list-style: none;
  }
}

.tickets-container {
  display: flex;
  flex-direction: column;
}
